%h1 Active Admin Delayed Job Controller
%p This module adds a plug-and-play controller to your existing Active Admin setup.  It allows you to view and manage the delayed jobs in your queue.

%h2 Installation
%ol
  %li
    Add this to your Gemfile
    :plain
      gem 'active_admin_delayed_job', :git => 'git://github.com/drush/active_admin_delayed_job.git'
  %li Run 'bundle install'
  %li Restart your server and load Active Admin in your browser

%h2 Features
%ul
  %li View all the delayed jobs in your system
  %li Filter to All, Running, Failed, and Queued jobs
  %li Select and Retry or Delete jobs

